*.egg-info

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore log files
src.egg-info

# Ignore files in the /runs, /mock_runs and /mock_results folder
mock_runs
runs
runs_Leonardo
mock_results

# Ignore files in the /out folder
out

# Ignore temporary files produced by ML pipelines with PyTorch
*.pth
*.pt
*.pkl

# Ignore trained models due to size:
*.pth

# Ignoring the .vscode folder:
.vscode