*.egg-info

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore files in the /data folder
data
src.egg-info

# Ignore files in the /runs folder
runs

# Ignore temporary files produced by ML pipelines with PyTorch
*.pth
*.pt
*.pkl

# Ignore trained models due to size:
*.pth
